body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
}

#monthInput {
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    font-size: 16px;
}

button {
    display: block;
    width: 30%;
    padding: 10px;
    margin: 10px auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
